.pull-right {
  float: right
}

body {
  height: 100%
}


/* Home */
.background-spoon {
  position: fixed;
  right: -8px;
  top: 36px;
  z-index: -1;
}



.hero {
  display: block;
  height: auto;
  margin: 120px auto;
  max-width: 448px;
  text-align: center;
  min-height: 600px;
}

.hero h1 {
  color: #c64f50;
  font-family: cabin;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  margin-bottom: 80px;
  margin-top: 44px;
  text-transform: uppercase;
}

/* FOOTER */
footer {
  color: #eea65a;
  font-family: cabin;
  font-size: 14px;
  height: 60px;
  position: absolute;
  width: 100%;
}

footer a, footer a:hover {
  color: #eea65a;
}

footer p {
  margin-top: 6px;
}

footer .navbar {
 background: #c64f50;
 bottom: 0;
 color: #eea65a;
}

footer, footer li {
  line-height: 16px;
  display: inline;
}

footer .social-icons {
  margin-top: 12px;
  margin-left: -30px;
  margin-right: 8px;
  float: left;
}

footer .fa {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  color: #c64f50;
  font-size: 16px;
  margin-right: 10px;
  height: 24px;
  line-height: 22px
}



/********** Media ******************/
@media (max-width: 768px) {
  .background-spoon {
    width: 40%;
  }

  .background-spoon img {
    width: 100%;
  }
}




