---
layout: default
---
<div class="background-spoon">
   <img src="img/spoon.jpg" alt="Spoon" title="Spoon at top of page">
</div>

<div id="home" class="container-fluid">
  <div class="hero">
    <img src="img/logo.jpg" alt="Logo" title="Logo da empresa" >
    <h1>
      Utilizarei a minha comida pra levar alegria a você, com muito <br>
      carinho, sabores e cores.
    </h1>
    <img class"button" src="img/button.jpg" alt="Enter Button">
  </div>
</div>
