<footer>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <nav class="social-icons">
      <ul>
        <li><a href="https://www.facebook.com/chefceciliadearaujo" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/chefceciaraujo" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/ceciliasaraujo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </nav>
    <p><a href="mailto:contato@ceciliadearaujo.com">contato@ceciliadearaujo.com</a><br>(62) 8205-5600</p>
  </div>
</nav>
</footer>


